<div class="top-row pl-4 navbar navbar-dark">
    <img src="/DiamondDLogo2.png" align="middle" width="200" height="165" />
    <a class="navbar-brand" href=""> </a>

    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<br />
<br />
<br />
<br />
<br />
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CreateBOL">
                <span class="oi oi-plus" aria-hidden="true"></span> Create New BOL
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="basic">
                <span class="oi oi-eye" aria-hidden="true"></span> View BOL
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="basic">
                <span class="oi oi-check" aria-hidden="true"></span> Check Call
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/ManageDrivers">
                <span class="oi oi-person" aria-hidden="true"></span> Manage Drivers
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/ManageEquipment">
                <span class="oi oi-aperture" aria-hidden="true"></span> Manage Equipment
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="basic">
                <span class="oi oi-wrench" aria-hidden="true"></span> Settings
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
