@page "/ManageEquipment"

<h2><b>Manage Equipment</b></h2>
<br />
<h3><u>Trucks:</u></h3>
<br />


<div class="row">
    <div class="col-3">
        <table class="table">
            <thread>
                <tr>
                    <th>Truck #</th>
                    <th>Make</th>
                    <th>Model</th>
                </tr>
            </thread>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@code {
    

}
<br />

<h3><u>Trailers:</u></h3>
<br />
<div class="row">
    <div class="col-3">
        <table class="table">
            <thread>
                <tr>
                    <th>Trailer #</th>
                    <th>Make</th>
                    <th>Model</th>
                </tr>
            </thread>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@code {

}